---
layout: default
title: Genome Ark - Species
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

</head>
<body>

  <div class="container">
    <h1>Animal Species</h1>


    <table class="species-table">
      <thead>
        <tr>
          <th>Imagee</th>
          <th>Scientific Name</th>
          <th>Common Name</th>
          <th>Genome Size</th>
          <th>Family</th>
          <th>Order</th>
          <th>Sequenced Resources</th>
        </tr>
      </thead>
      <tbody>
        {% for species in site.species %}
          <tr>
            <td style="position: relative;">
              {% for sample in species.samples %}
                {% if sample.datatype == 'Bionano' %}
                  <div class="bionano-label">Bionano</div>
                {% endif %}
              {% endfor %}
              
              {% if species.image %}
                <a href="{{ site.baseurl }}{{ species.url }}">
                  <img src="{{ site.baseurl }}{{ species.image }}" alt="{{ species.name }}">
                </a>
                <p class="image-attribution">Attribution: {{ species.image_attribution }}</p>
              {% else %}
                <p>No Image</p>
              {% endif %}
            </td>
            <td>{{ species.name }}</td>
            <td><em>{{ species.common_name }}</em></td>
            <td>{{ species.genome_size | number_with_delimiter }}</td>
            <td>{{ species.family.name }}</td> 
            <td>{{ species.order.name }}</td> 
            <td>{{ species.samples | size }}</td> 
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <footer>
      Author: Julia Kołomańska
    </footer>
  </div>

</body>
</html>
